@font-face { font-family: 'NanumSquareRound'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_two@1.0/NanumSquareRound.woff') format('woff'); font-weight: normal; font-style: normal; }
body{
  /* font-family: 'Noto Sans KR', sans-serif; */
  font-family: 'NanumSquareRound', sans-serif;
}
a {
  color: white;
  text-decoration: none;
  font-weight: 450;
}
.section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 40vh;
  padding: 20vh 0;
  text-align: center;
}
h1, h2{
  margin-top: 5px;
  margin-bottom: 0;
}
hr { 
  width: 80%;
  max-width: 400px;
  border-style: solid;
  border-width: 1.5px;
}
.about-us{
  font-size: 0.9em;
}
#tab-logo{
  width: 70%;
  max-width: 400px;
}
.contents {
  align-items: center;
  width: 100%;
  margin: 0;
}
.content-box{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.content{
  margin: 20px 10px;
  padding: 10px;
  transition: 0.5s;
}
.content-img {
  max-width: 150px;
  max-height: 150px;
  margin: 5px;
  padding: 10px;
}
blockquote {
  display: block;
  width: 100%;
  border-width: 2px 0;
  border-style: solid;
  border-color: #eee;
  padding: 1.5em 0 0.5em;
  margin: 1.5em 0;
  position: relative;
}
blockquote:before {
  content: '\201C';
  position: absolute;
  top: 0em;
  left: 50%;
  transform: translate(-50%, -50%);
  background: #fff;
  width: 3rem;
  height: 2rem;
  font: 6em/1.08em 'PT Sans', sans-serif;
  color: #666;
  text-align: center;
}
.question{
  font-weight: 600;
  text-align: left;
}
.answer{
  text-align: right;
}
.footer{
  background-color: gray;
  color: white;
  text-align: center;
  margin: 0;
  padding: 0;
}

.contact{
  margin: 0;
  font-size: 13px;
  padding: 10px;
}


#bg-img{
  /* background: url(../images/samuel-zeller-337030-unsplash.jpg); */
  background: url(../images/bg_blue.png);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  top: 0;
  width: 100%;
  height: 80vh;
  z-index: -1;
  opacity: 0.5;
  margin: 0;
}



/* Responsive Web */
@media (min-width: 601px){
  .verticla-nav-button{
    display: none;
  }
  nav{
    background-color: rgba(54, 54, 53, 0.6);
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  .navbar {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .nav-item{
    list-style: none;
    float: left;
    margin: 0 10px;
  }
  .content:hover{
    transform: scale(1.05);
    box-shadow: 0px 0px 50px rgb(200,200,200);
  }
  .content-detail{
    margin: auto;
    width: 200px;
  }
  .about-us{
    max-width: 500px;
  }
}

/* Mobile */
@media (max-width: 600px){
  .verticla-nav-button{
    background: url(../images/menu.svg);
    position: fixed;
    top: 0;
    right: 0;
    border: none;
    width: 32px;
    height: 32px;
    margin: 22px 12px;
    z-index: 1000;
  }
  nav{
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
  }
  .navbar {
    padding: 0;
    margin: 0;
    display: none;
    opacity: 0;
  }
  .navbar.responsive{
    padding: 0;
    margin: 0;
    animation: load 0.5s forwards;
    display: block;
  }
  .nav-list{
    padding:0;
  }
  
  @keyframes load {
    0%{
      transform: translateX(200px);
    }
    100%{
      opacity: 1;
      transform: translateX(0px);
    }
  }
  .nav-item {
    background-color: rgba(54, 54, 53, 0.6);
    float: none;
    display: block;
    list-style: none;
    margin: 0;
    width: 100%;
    text-align: left;
    padding: 10px 20px;
  }
  .nav-item a:hover{
    color: rgb(20,20,20);
  }

  #bg-img{
    height: 700px;
  }
  .content-detail{
    margin: auto;
    width: 90%;
  }
  .about-us{
    width: 90%;
  }
}